extend layout

block content
        form(name="usersForm", action="/", method="post" class="form-signin")
            .form-group
                label Username
                input.form-control(name="username")
            .form-group
                label Password
                input.form-control(type="Password", name="password")
            button.btn.btn-default(type="Submit") Submit
